<!--The content below is only a placeholder and can be replaced.-->


<div class="chat-window">
  <div class="display-message">
    <ul>
      <li #allTheseThings class="text" *ngFor="let item of items | async">
        <span class="username">{{item.name}}</span> {{item.message}}
      </li>
    </ul>
  </div>
  <div class="type-message">
    <textarea (keydown)="keyDownFunction($event, data)" [(ngModel)]="data.message" placeholder="Nhập tin nhắn"></textarea>
    <button (click)="sendMessage($event, data)" type="button">Gửi</button>
  </div>
</div>
